In [11]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score, KFold
from sklearn.preprocessing import StandardScaler 
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, roc_auc_score, roc_curve

In [2]:
data = pd.read_csv('heart_fin1.csv', sep=';', decimal = '.')

In [ ]:
data.sample(5)

     age  sex  cp  trestbps  chol  restecg  thalach  exang  oldpeak  target
195   59    1   0       170   326        0      140      1      3.4       0
38    65    0   2       155   269        1      148      0      0.8       1
172   58    1   1       120   284        0      160      0      1.8       0
129   74    0   1       120   269        0      121      1      0.2       1
192   54    1   0       120   188        1      113      0      1.4       0

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   restecg   303 non-null    int64
 6   thalach   303 non-null    int64
 7   exang     303 non-null    int64
 8   oldpeak   303 non-null    float64
 9   target    303 non-null    int64
dtypes: float64(1), int64(9)
memory usage: 23.8 KB

In [3]:
perc25 = data.quantile(0.25)
perc75 = data.quantile(0.75)
IQR = perc75 - perc25
left = perc25 - 1.5*IQR
right = perc75 + 1.5*IQR

In [5]:
df = pd.DataFrame(data[~((data < left) |(data > right)).any(axis=1)])

In [6]:
df.head()

   age  sex  cp  trestbps  chol  restecg  thalach  exang  oldpeak  target
0   63    1   3       145   233        0      150      0      2.3       1
1   37    1   2       130   250        1      187      0      3.5       1
2   41    0   1       130   204        0      172      0      1.4       1
3   56    1   1       120   236        1      178      0      0.8       1
4   57    0   0       120   354        1      163      1      0.6       1

In [12]:
X = df.drop(['target'],axis=1)
y = df['target']

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.15, random_state=5)

In [16]:
lr = LogisticRegression(max_iter=1000)
lr.fit(X_train, y_train)
y_pred = lr.predict_proba(X_test)[:, 1]
roc_auc_score(y_test,y_pred)

0.8181818181818182

In [17]:
model = KNeighborsClassifier(n_neighbors = 3)
kf = KFold(n_splits = 10)
model.fit(X_train, y_train)
y_pred = model.predict_proba(X_test)[:, 1]
roc_auc_score(y_test,y_pred)

0.6547619047619049